nibabel>=3.1.1
tqdm>=4.59.0
einops>=0.4.1
monai>=1.1.0
acvl_utils>=0.2
numpy>=1.23.3
tifffile>=2022.10.10
batchgenerators>=0.25
simpleitk>=2.2.1
scikit-image>=0.19.3
torch>=2.0.0
scipy>=1.8.1
imageio>=2.22.4
pandas>=1.5.0